.playPauseButton {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: rgba(17,23,29,.4);
  transition: opacity 0.2s ease-out;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingIndicator {
  width: 48px;
  height: 48px;
  position: absolute;
}
.loadingIndicator path {
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  animation: dash 5s linear forwards;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}.videoSeek {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(0, rgba(17,23,29,.4) 0%, transparent 100%);
  color: white;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soundButton {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 24px;
  cursor: pointer;
}

.soundOnSvg,
.soundMutedSvg {
  color: white;
}

.soundMutedSvg {
  display: none;
}

.videoSeekBarContainer {
  position: relative;
  flex-grow: 1;
}

.videoSeekBar {
  position: absolute;
  top: calc(50% - 2px);
  left: 22px;
  right: 22px;
  height: 4px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.videoSeekBarCurrent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: white;
  border-radius: 4px;
}

.videoSeekInput {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 16px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  direction: ltr;
}

.videoSeekInput:hover {
  cursor: pointer;
}

.videoSeekInput:active {
  cursor: grabbing;
}

/* chrome, safari */
.videoSeekInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 14px solid transparent;
  border-radius: 100%;
  background-clip: content-box;
  background-color: white;
  filter: drop-shadow(0 0 1px black);
  opacity: 1;
}

.videoSeekInput:active::-webkit-slider-thumb {
  transform: scale(1.25);
}

/* firefox */
.videoSeekInput::-moz-focus-outer {
  border: none;
}

.videoSeekInput::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 14px solid transparent;
  border-radius: 100%;
  background-clip: content-box;
  background-color: white;
  filter: drop-shadow(0 0 1px black);
  opacity: 1;
}

.videoSeekInput:active::-moz-range-thumb {
  transform: scale(1.25);
}
  .footer-overflow-container {
      overflow-x: auto;
      display: flex;
      background-color: #000000;
  }

  .footer-container {
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px;
  }

  .footer-pill-link {
      appearance: none;
      text-decoration: none;
  }

  .footer-pill {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      border: none;
      background: none;
      padding: 8px 12px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
      white-space: nowrap;
      text-decoration: none;
      font-weight: 600;
      font-style: normal;
      font-size: calc(13px * var(--rfso, var(--bfso, 1)));
      color: #ffffff;
      transition: background-color 0.2s;
  }
  .footer-pill:hover {
      cursor: pointer;
  }
  .footer-pill + .footer-pill {
      margin-left: 8px;
  }

  .footer-pill-primary {
      position: relative;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.1);
  }

  .footer-pill-primary:hover > .footer-pill-primary-background {
      opacity: 1;
  }

  .footer-pill-primary-background {
      position: absolute;
      z-index: -1;
      border-radius: 1000px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #00C4CC 0%, #7D2AE8 100%);
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.2s;
  }

  /* Subtle wipe effect */
  .footer-pill-primary-background::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(to right, rgba(125, 42, 232, 0) 0%, #1a1a1a calc(50px + 20%), #1a1a1a 100%);
      transform: translateX(0);
      transition: transform 0.7s;
  }
  .footer-pill-primary:hover > .footer-pill-primary-background::after {
      transform: translateX(110%);
  }

  .footer-pill-primary-background > svg {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform-origin: center;
      transform: translateY(-50%);
      width: 100%;
  }

  .animation-container {
      animation: spin linear 12s infinite;
      animation-play-state: paused;
  }
  .footer-pill-primary:hover > .footer-pill-primary-background .animation-container {
      animation-play-state: running;
  }

  .footer-pill-secondary {
      background-color: rgba(255, 255, 255, 0);
  }
  .footer-pill-secondary:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-pill-secondary:active, .footer-pill-secondary.active {
      background-color: rgba(255, 255, 255, 0.15)
  }

  .inline-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
  }
  .inline-icon > svg {
      fill: rgba(218, 218, 218, 1);
  }

  .inline-icon-logo {
      display: inline-block;
      height: 16px;
      margin-left: 5px;
  }
  .inline-icon-logo > svg {
      height: 100%;
  }

  .modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      transition: opacity 0.35s, visibility 0.35s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  .modal-backdrop.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
  }

  .report-form-modal {
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 16px;
      width: 367px; /* min width for the gcaptcha to fit*/
      transform: translate3d(0, calc(-100% + 24px), 0);
      z-index: 10000;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
      background-color: #ffffff;
      border-radius: 8px;
      margin: 0;
      box-shadow: 0px 2px 18px 0px rgba(14, 19, 24, 0.25), 0px 0px 1px 0px rgba(14, 19, 24, 0.02);
      transition-duration: 0.35s;
      transition-property: opacity, transform, visibility;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  .report-form-modal.active {
      transform: translate3d(0, calc(-100% + 8px), 0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
  }

  .form-content {
      margin: 32px;
      outline-offset: 34px;
  }

  .form-content > * {
      margin: 16px 0;
  }

  .form-title {
      font-size: calc(24px * var(--rfso, var(--bfso, 1)));
      font-weight: 700;
  }

  .form-body {
      font-size: calc(14px * var(--rfso, var(--bfso, 1)));
      font-weight: 400;
      color: rgba(14, 19, 24, 0.7);
  }

  .form-body-bold {
      font-size: calc(14px * var(--rfso, var(--bfso, 1)));
      font-weight: 600;
      line-height: 22.4px;
      color: rgba(14, 19, 24, 1);
  }

  .form-radio-input {
      display: grid;
      grid-template-columns: 24px auto;
      grid-template-rows: auto;
      grid-template-areas:
        "radio-button radio-label"
        ". radio-description"
  }
  .form-radio-input:hover {
      cursor: pointer;
  }

  .radio-button-input {
      opacity: 0;
      margin: 0;
      width: 0;
      height: 0;
  }

  .radio-button {
      align-self: flex-start;
      grid-area: radio-button;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 4px 8px 0 0;
      vertical-align: middle;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(53, 71, 90, .2);
      outline: none;
      background-color: #ffffff;
      flex-shrink: 0;
  }
  .radio-button-input:checked + .radio-button {
      background: #fff;
      box-shadow: inset 0 0 0 5px #8b3dff;
      transition: box-shadow .1s ease-in-out, background-color .1s ease-in-out;
  }
  .form-radio-input:hover .radio-button-input:not(:checked) + .radio-button {
      box-shadow: inset 0 0 0 1px rgba(30, 41, 51, .45);
  }

  .radio-button-input + .radio-button::after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: transparent;
      display: block;
      margin: 5px;
      border-radius: 50%;
  }
  .radio-button-input:checked + .radio-button::after {
      background-color: #ffffff;
      transition: background-color .1s ease-in-out;
  }

  .form-radio-label {
      grid-area: radio-label;
      font-size: calc(14px * var(--rfso, var(--bfso, 1)));
      font-weight: 600;
      line-height: 22.4px;
      color: rgba(14, 19, 24, 1);
  }

  .form-radio-desc {
      grid-area: radio-description;
      font-size: calc(12px * var(--rfso, var(--bfso, 1)));
      font-weight: 400;
      color: rgba(14, 19, 24, 0.7);
      margin: 0;
  }

  .g-recaptcha {
      width: 300px;
  }

  .form-buttons {
      margin-top: 32px;
      display: grid;
      grid-gap: 8px;
      grid-template-columns: auto auto;
      justify-content: flex-end;
  }

  .button {
      border: 2px solid transparent;
      box-sizing: border-box;
      background-color: rgba(64, 87, 109, 0.07);
      border-radius: 4px;
      color: #0e1318;
      cursor: pointer;
      display: inline-flex;
      height: 40px;
      margin: 0;
      max-width: 100%;
      min-width: 80px;
      width: 100%;
      padding: 0 6px;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
      font-weight: 400;
      line-height: 1.6;
      outline-offset: 2px;
      transition: background-color 0.2s;
  }
  .button:hover {
      background-color: rgba(57, 76, 96, .15);
  }
  .button:active {
      background-color: rgba(53, 71, 90, .2);
  }

  .submit-button {
      border: 2px solid transparent;
      box-sizing: border-box;
      background-color: #7d2ae8;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      height: 40px;
      margin: 0;
      max-width: 100%;
      min-width: 80px;
      width: 100%;
      padding: 0 6px;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
      font-weight: 400;
      line-height: 1.6;
      outline-offset: 4px;
      transition: background-color 0.2s;
  }
  .submit-button:hover {
      background-color: #8d39fa;
  }
  .submit-button:active {
      background-color: #6718cf;
  }

  .button-text {
      font-size: calc(14px * var(--rfso, var(--bfso, 1)));
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      padding: 0 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 600;
      transition: all 0.2s;
  }
  .submit-button.loading .button-text {
      visibility: hidden;
      opacity: 0;
  }

  .submit-button.loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: spin 1s ease infinite;
  }

  .text-danger {
      text-align: left;
      margin: 4px 0 0;
      color: #f84856;
      font-size: calc(12px * var(--rfso, var(--bfso, 1)));
  }

  .a-link:visited {
      color: rgba(14, 19, 24, 0.7)
  }
  .a-link {
      text-decoration: underline;
      color: rgba(14, 19, 24, 0.7)
  }
  .a-link:hover {
      color: #7d2ae8;
  }

  @keyframes spin {
      from {
          transform: rotate(0turn);
      }

      to {
          transform: rotate(1turn);
      }
  }

  @supports selector(:focus-visible) {
      .radio-button-input:focus-visible + .radio-button {
          outline: auto;
      }

      .footer-pill-primary:focus-visible > .footer-pill-primary-background::after {
          transform: translateX(110%);
      }

      .footer-pill-primary:focus-visible > .footer-pill-primary-background {
          opacity: 1;
      }

      .footer-pill-primary:focus-visible > .footer-pill-primary-background .animation-container {
          animation-play-state: running;
      }
  }

  @supports not selector(:focus-visible) {
      .radio-button-input:focus + .radio-button {
          outline: auto;
      }

      .footer-pill-primary:focus > .footer-pill-primary-background::after {
          transform: translateX(110%);
      }

      .footer-pill-primary:focus > .footer-pill-primary-background {
          opacity: 1;
      }

      .footer-pill-primary:focus > .footer-pill-primary-background .animation-container {
          animation-play-state: running;
      }
  }

  /* stylelint-disable-next-line media-feature-name-disallowed-list */
  @media only screen and (max-width: 600px) {
      .modal-backdrop {
          background-color: rgba(14, 19, 24, 0.45);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
      }

      .report-form-modal {
          width: 100%;
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 8px 8px 0 0;
          transform: translate3d(0, 33%, 0);
      }

      .report-form-modal.active {
          transform: translate3d(0, 0, 0);
      }

      .form-content {
          margin: 16px;
      }

      .form-buttons {
          display: grid;
          grid-gap: 8px;
          grid-template-columns: 1fr;
      }

      .submit-button {
          order: -1;
      }

      @supports (padding: env(safe-area-inset-bottom)) {
          .footer-container {
              padding: 16px 16px calc(16px + env(safe-area-inset-bottom)) 16px;
          }

          .form-content {
              margin: 16px 16px calc(16px + env(safe-area-inset-bottom)) 16px;
          }
      }
  }
  @media (prefers-reduced-motion) {
      .report-form-modal, .report-form-modal.active {
          transition-property: opacity, visibility;
          transform: translate3d(0, calc(-100% + 8px), 0);
      }
      @media only screen and (max-width: 600px) {
          .report-form-modal, .report-form-modal.active {
              transform: translate3d(0, 0, 0);
          }
      }
      .animation-container {
          animation-play-state: paused !important;
      }
      .footer-pill-primary-background::after {
          transform: translateX(0);
          opacity: 0;
          transition: opacity 0.7s;
      }
      .footer-pill-primary-background > svg {
          display: none;
      }
  }